/* --------------------------------------------------------------IMPORT------------------------------------------------------------------ */
@import "./fonts/Gilroy/stylesheet.css";
/*--------------------------------------------------------------ОБНУЛЕНИЕ-----------------------------------------------------------------*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
	color: #1F1F1F;
}
body._lock {
	overflow: hidden;
}
/*------------------------------------------------------------ОБЩИЕ КЛАССЫ----------------------------------------------------------------*/
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
._container {
	max-width: 1750px;
	padding: 0 15px;
	margin: 0 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*-----------------PAGE---------------------*/
.page {
	flex: 1 1 auto;
}
/*----------------BUTTON--------------------*/
.btn {
	position: relative;
	display: inline-block;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.8;
	color: #114455;
	padding: 10px 72px 10px 24px;
	border: 1px solid #114455;
	border-radius: 2px;
	transition: color 0.3s ease, background-color 0.3s ease;
}
.btn:active {
	top: 1px;
}
.btn:hover, .btn:focus {
	background-color: #114455;
	color: #fff;
}
.btn::after {
	content: '';
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background-image: url(./../img/icons/arr-black.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.btn:hover::after {
	background-image: url(./../img/icons/arr-white.svg);
}
.btn--big {
	padding: 14px 80px 14px 32px;
}
.btn--dark {
	background-color: #114455;
	color: #fff;
}
.btn--dark::after {
	background-image: url(./../img/icons/arr-white.svg);
}
.btn--dark:hover, .btn--dark:focus {
	background-color: #05242e;
	border: 1px solid #05242e;
}
/* --------------------------------------------------------------HEADER------------------------------------------------------------------ */
.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	transition: background-color 0.2s ease 0s;
}
.header._fixed {
	background-color: #fff;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 144px;
}
.header__menu {
	display: flex;
	align-items: center;
}
.menu__body {
	display: none;
}
.menu__icon {
	display: none;
}
.menu__list {
	margin: 0px 118px 0px 0px;
}
.menu__link {
	font-family: 'Gilroy';
	font-weight: 800;
	font-size: 20px;
	line-height: 180%;
	color: #114455;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (min-width: 767px) {
	.menu__list > li {
		padding: 10px 0;
	}
}
@media (max-width: 767px) {
	.header__container {
		min-height: 122px;
		padding: 0px 24px;
	}
	.header__logo {
		flex: 0 0 110px;
		z-index: 3;
	}
	.header__logo img {
		width: 100%;
	}
	.menu__icon {
		z-index: 3;
		display: block;
		position: relative;
		width: 20px;
		height: 10px;
		cursor: pointer;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: #114455;
		transition: all 0.15s ease 0s;
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body {
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 2;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 136px 24px 0px 24px;
		transition: left 0.15s ease 0s;
		overflow: auto;
		background-color: #fff;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body._active::before {
		content: '';
		position: fixed;
		z-index: 3;
		left: 0;
		top: 0;
		width: 100%;
		height: 122px;
		background-color: #fff;
	}
	.menu__list,
	.menu__button {
		display: none;
	}
	.menu__link-m {
		font-size: 40px;
		font-weight: 800;
		line-height: 140%;
		color: #1F1F1F;
	}
	.menu__list-mobile {
		margin: 0px 0px 80px 0px;
	}
	.contacts {
		max-width: 165px;
		font-size: 16px;
		font-style: normal;
		line-height: 150%;
		margin: 0px 0px 80px 0px;
		flex: 1 1 auto;
	}
	.contacts__title {
		font-size: 24px;
		font-weight: 800;
		line-height: 133%;
		margin: 0px 0px 32px 0px;
	}
	.contacts__body > *:not(:last-child) {
		margin: 0px 0px 16px 0px;
	}
	.contacts__email,
	.contacts__tel {
		display: block;
	}
	.contacts__email,
	.contacts__tel,
	.contacts__address {
		color: #1F1F1F;
		letter-spacing: 0.06em;
	}
}
/* -------------------------------------------------------MAIN--------------------------------------------------------------------------- */
.main-block {
	position: relative;
	min-height: 100vh;
}
.main-block__body {
	position: relative;
	z-index: 2;
	padding: 270px 0px 0px 0px;
}
.main-block__cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main-block__cover-small {
	display: none;
}
.main-block__title {
	max-width: 734px;
	font-size: 80px;
	font-weight: 800;
	line-height: 1.2;
	color: #114455;
	margin: 0 0 48px 0;
}
.main-block__text {
	font-size: 34px;
	line-height: 1.2;
	color: #1F1F1F;
	opacity: 0.7;
	margin: 0 0 72px 0;
}
.main-block__text > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.main-block__scroll {
	position: absolute;
	width: 38px;
	height: 28px;
	bottom: 59px;
	left: 50%;
	transform: translate(-50%, 0);
}
.main-block__scroll img {
	width: 100%;
}
.scroll__small {
	display: none;
}
.main-block__mobile {
	display: none;
}
@media (max-height: 900px) {
	.main-block__body {
		padding: 200px 0px 0px 0px;
	}
	.main-block__scroll {	
		bottom: 40px;
	}
}
@media (max-height: 699px) {
	.main-block__title {
		font-size: 75px;
		margin: 0 0 25px 0;
	}
	.main-block__text {
		font-size: 22px;
		margin: 0 0 30px 0;
	}
}
@media (max-width: 991px) {
	.main-block__title {
		font-size: 75px;
		margin: 0 0 25px 0;
	}
	.main-block__text {
		font-size: 24px;
		margin: 0 0 30px 0;
	}
}
@media (max-width: 767px) {
	.main-block__body {
		padding: 238px 0px 0px 0px;
	}
	.main-block__title,
	.main-block__text,
	.btn {
		display: none;
	}
	.main-block__mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.main-block__cover-small {
		display: block;
	}
	.main-block__cover-big {
		display: none;
	}
	.mobile__logo {
		margin: 0px 0px 28px 0px;
	}
	.mobile__text {
		max-width: 237px;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: 0.06em;
		opacity: 0.7;
	}
}
@media (max-width: 479px) {
	.mobile__text {
		font-size: 16px;
	}
	.main-block__scroll {
		position: absolute;
		width: 19px;
		height: 16px;
		bottom: 32px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.scroll__big {
		display: none;
	}
	.scroll__small {
		display: block;
	}
}
/*----------------------------------------------------CASE STUDIES----------------------------------------------------------------------- */
.case-studies {
	padding: 184px 0;
}
.case-studies__body {
	max-width: 1070px;
	margin: 0 0 100px 0;
}
.case-studies__title {
	padding: 0 0 12px 0;
}
.title {
	font-size: 80px;
	font-weight: 800;
	line-height: 1.17;
	color: #1F1F1F;
}
.case-studies__text > *:not(:last-child) {
	padding: 0 0 20px 0;
}
.text {
	font-size: 28px;
	line-height: 1.57;
	color: #1F1F1F;
	opacity: 0.7;
}
.container-slider {
	padding-left: calc((100% - 1750px) / 2 + 15px);
}
.slide {
	position: relative;
	display: inline-block;
	padding: 0 0 0 80px;
}
.slide__title {
	position: absolute;
	left: 0;
	bottom: 104px;
	font-size: 140px;
	font-weight: 800;
	line-height: 1.17;
	background: linear-gradient(90deg, rgba(17,68,85,1) 80px, rgba(255,255,255,1) 80px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media (max-width: 1749px) {
	.container-slider {
		padding-left: 15px;
	}
	.slide__title {
		bottom: 32px;
		font-size: 90px;
	}
}
@media (max-width: 1000px) {
	.case-studies {
		padding: 80px 0;
	}
	.slide {
		padding: 0 0 0 45px;
	}
	.slide img{
		height: 396px;
	}
	.slide__title {
		bottom: 32px;
		font-size: 80px;
		background: linear-gradient(90deg, rgba(17,68,85,1) 45px, rgba(255,255,255,1) 45px);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
@media (max-width: 767px) {
	.case-studies {
		padding: 80px 0;
	}
	._container {
		padding: 0 24px;
	}
	.title {
		font-size: 40px;
		line-height: 118%;
	}
	.text {
		font-size: 18px;
		line-height: 150%;
	}
	.case-studies__body {
		max-width: none;
	}
	.container-slider {
		padding-left: 24px;
	}
	.slide {
		padding: 0 0 0 40px;
	}
	.slide img{
		height: 300px;
	}
	.slide__title {
    bottom: 22px;
    font-size: 60px;
    background: linear-gradient(90deg, rgba(17, 68, 85, 1) 40px, rgba(255, 255, 255, 1) 40px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}
@media (max-width: 479px) {
	.title {
		font-size: 32px;
		line-height: 118%;
	}
	.text {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.06em;
	}
	.case-studies__body {
		max-width: 291px;
		margin: 0 0 31px 0;
	}
	.slide {
		padding: 0 0 0 33px;
	}
	.slide img{
		height: 264px;
	}
	.slide__title {
    bottom: 22px;
    font-size: 60px;
    background: linear-gradient(90deg, rgba(17, 68, 85, 1) 33px, rgba(255, 255, 255, 1) 33px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}
/*--------------------------------------------------------INVORIEM------------------------------------------------------------------------*/
.invoriem {
	padding: 144px 0px;
}
.invoriem__title {
	margin: 0px 0px 12px 0px;
}
.invoriem__text {
	margin: 0px 0px 78px 0px;
}
.invoriem__text > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.invoriem__video {
	flex: 1 1 100%;
	position: relative;
	width: 100%;
	height: 56.22%;
	overflow: hidden;
}
.invoriem__video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.invoriem__play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	background-color: transparent;
	cursor: pointer;
}
.invoriem__play--hidden {
	display: none;
}
.invoriem__play svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 992px) {
	.invoriem {
		padding: 0px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.invoriem__text {
		margin: 0px 0px 40px 0px;
	}
	.invoriem__video {
		height: 338px;	
	}
	.invoriem__play {
		width: 48px;
		height: 48px;
	}
}
/*---------------------------------------------------------FOOTER-------------------------------------------------------------------------*/
.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 82px 0px;
}
.footer__copy {
	font-size: 20px;
	line-height: 180%;
	letter-spacing: 0.04em;
	opacity: 0.7;
}
.footer__links {
	display: flex;
	align-items: center;
}
.footer__email {
	font-size: 20px;
	line-height: 180%;
	letter-spacing: 0.04em;
	color: #1F1F1F;
	opacity: 0.7;
	padding: 0px 104px 0px 0px;
}
.social__item:not(:last-child) {
	margin: 0px 26px 0px 0px;
}
@media (max-width: 950px) {
	.footer__body {
		flex-direction: column-reverse;
		padding: 32px 0px;
	}
	.footer__links {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 767px) {
	.footer__copy {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.08em;
	}
	.footer__links {
		flex-direction: column;
		margin: 0px 0px 32px 0px;
	}
	.footer__email {
		justify-content: center;
		padding: 0;
		margin: 0px 0px 16px 0px;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.06em;
		color: #4A2AD3;
	}
	.social__item img {
		width: 24px;
		height: auto;
	}
	.social__item:not(:last-child) {
		margin: 0px 24px 0px 0px;
	}
}